<div class="posts-wrapper row top-margin">
  <% unless @posts[0].id == nil %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <%= @user.username %>
    </div>
    <div class="image center-block">
      <%= link_to image_tag(post.image.url(:medium), class: 'img-responsive'), post_path(post)%>
    </div>
    <p class="caption">
      <%= post.caption %>
    </p>
    <% end %>
    <% end %>
  </div>
  <%= link_to "New Post", new_post_path %>
</div>
